.modified-components {
  display: flex;
}

.rendering-type-title {
  text-align: center;
}

.components-qty {
  text-align: center;
}

.navigation-bar {
    width: 100%;
  }
  
  .navigation-bar__actions {
    width: 100%;
  }
  
  .navigation-bar__btn {
    width: 3rem;
  }
  
  .components {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    width: 18rem;
  }

  .item-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .item-image img {
    max-width: 150px;
    margin-right: 15px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-title {
    margin-top: 0;
  }
  
  .item-description {
    font-size: 14px;
    color: #666;
  }
  
  .item-meta {
    margin-top: 10px;
  }
  
  .item-price {
    font-weight: bold;
  }
  
  .item-rating {
    margin-left: 10px;
    color: #444444;
  }
  
  .add-to-cart-btn {
    background-color: #007B00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #005500;
  }
  
  